nav{
    background-color: black;
    color:white;
    padding:30px;
}

ul,h1,li{
    display:inline;
    padding:15px;
}

ul{
    margin-left: 60%;
}
li{
    color:grey;
    cursor:pointer;

}

li:hover{
    color:white;
}

input{
    padding:10px;
    width:60%;
    border-width: 2px;
}

.search{
    padding:50px;
    margin-top:30px;
    text-align: center;
    border-width: 5px;
    
}



.box{
    border-width: 2px;
    border-color:black;
    border-style:solid;
    width:220px;
    display:inline-block;
    border :padding 10px;
    margin-top: 30px;
    margin-left: 10px;
    

}

img{
    width:220px;
    height:220px;
}


.box:hover{
    color:white;
    background-color: black;
}

.product{
     text-align: center;
}

.about{
    text-align:center;
    padding:15px;
}

.contact{
    background-color: black;
    color:white;
    text-align:center;
    padding:40px;
}